*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: large;

}
/* ESTILOS DEL EXPERIENCE */
#experience {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

/* utilidades */

.hidden {
    display: none;
}

/* ESTILOS DEL MODAL */
.modal {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    background-color: cadetblue;
    border: 2px solid #fff;
    color: #fff;
}

.modal-wrapper {
   padding: 12px;
}

.modal-header{
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}